
#dashboard_right_now .main {
	margin: 0;
	padding: 0 1.5em 1em;
}

#dashboard_right_now .kgdwidget__block-info {
	margin-top: 1.3em;
}

#dashboard_right_now h5{
	border-bottom: 1px solid #efefef;
	padding: 0 0 .2em;
	margin: .5em 0 .5em;
	color: #777;
	font-size: 13px;
	font-weight: normal;
}

#dashboard_right_now td{
	padding: .2em 0;
}

#dashboard_right_now .kgdw-number{
	color: #777;
}

#dashboard_right_now td.kgdw-td-number{
	height: 1.5em;
	padding-right: .5em;
	text-align: right;
	vertical-align: baseline;
}

#dashboard_right_now td.kgdw-td-extra{
	padding-right: 0;
	padding-left: 1em;
	white-space: nowrap;
}

#dashboard_right_now .kgdw-td-extra a{
	color: #777;
	text-decoration: underline;
	margin-right: 1em;
}

#dashboard_right_now .search-engines-info{
	color: chocolate;
}
#dashboard_right_now .search-engines-info a{
	color: inherit;
}
